*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "antd/dist/antd.css";

.col{
  color: rgb(226, 43, 43);
  font-size: 18px;
}

.div{
 
  display: flex;
  flex-direction: column;
}
   
.lab{
  font-weight: 500;
  padding: 30px 0px;
  margin-top: 10px;
  
}
.repeatFun{
  margin-top: 15px;
}
.ant-radio-button-wrapper:last-child{
  display: none !important;
}
.ant-picker-calendar-date-content{
  height: 40px !important;
}
        
.ant-modal-close{
  display: none;
}
.pt{
  padding-top: 20px;
}
.ant-radio-button-wrapper:first-child{
  display: none;
}
.ant-picker-header-super-next-btn{
  display: none;
}
.ant-picker-header-super-prev-btn{
  display: none;
}
.anticon .anticon-calendar{
  display: none !important;
}
.ant-picker-clear{
  display: none !important;
}
.ant-picker-suffix{
  display: none;
}
span .icon-btn{
  cursor: pointer;
  
  font-size: large;
  
  
}
.anticon-caret-right{
  border: 1px solid rgba(0, 0, 0, 0.185);
  padding: 12px;
}
.anticon-caret-left{
  border: 1px solid rgba(0, 0, 0, 0.185);
  padding: 12px;
}

.cus-cal{
  margin-right: 20px ;
}
.inp{
  position: relative;
 
}
.date{
  position: absolute;
  
  top:0px ;
  left: 35px;
z-index: 1;
cursor: pointer;
  font-weight: 600;
}
.ant-picker-input{
  justify-content: space-between;
  padding: 5px  5px 5px 35px;
  margin: 0;
 text-align: center;
  cursor: pointer;
 
}
.ant-picker-calendar-header{
  display: none !important; 
}
.ant-select ,.ant-picker-calendar-year-select , .ant-select-single ,.ant-select-show-arrow{
  display: none;
}

div > .ant-picker-input{
  justify-content: space-between;
  padding: 5px  5px 5px 10px;
  margin: 0;
 
  cursor: pointer;
 
}

.ant-picker-input input{
  font-weight: 600;
  font-size: 18px;
  
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:10px 20px 
}
.end{
  display: flex;
  justify-content: end;
  margin-right: 30px;
}

.tab{
  
  padding: 15px;
  margin: 10px;
}
.tabel-design{
  width:90vw;
 padding: 25px 20px;
 border-top: 1px solid rgba(128, 128, 128, 0.486);

cursor: pointer;

}


.tabel-design:hover{
  background-color: #e3e4e45b;
}
.col{
  margin: 10px;
  position: relative;
  width: 6.5vw;
 
  cursor: pointer;
}
/* .col:hover{
  background-color: #e3e4e45b;
} */

.allDay{
  padding: 0px 10px 30px 10px;
  
  font-weight: 600;
  border-bottom: 1px solid #80808085;
  cursor: pointer;
  
}
.allDay:hover{
  background-color: #e3e4e45b;
}
.tabel_container{
  display: flex;
  align-items: center;
  
  justify-content: space-between;
}
.tabel-head{
margin: 10px;
  position: relative;
  width: 5vw;
}
.tabel-head::before{
  position: absolute;

  content:attr(data-content);
  top: -40px;
left: 0px;

}


/*week*/

.week_head{
  text-align: center;
  width: 80vw;
  padding: 10px 0px;
  border: 1px solid #80808085;
}
.week_headcol{
  width: 10vw;
  padding-bottom: 20px;
 
}

.tabel_head{
  width: 20vw;
  padding: 25px 0px;
    position: relative;
   
  }
  .tabel_head::before{
    position: absolute;
    content:attr(data-content);
    top: -12px;
  left: 0px;
  
  }
.container{
  margin: 10px;
 
}
.week_boder{
  border: 1px solid #80808050;
}
.week_line{
  border: 1px solid #80808050;
  cursor: pointer;
  padding: 15px 0px;
}
.week_line:hover{
  background-color: #d3d3d350;
}
.time_subhead{
  width: 20vw;
  padding: 15px 0px;
 color: green;
 visibility: hidden;
    position: relative;
}
.all-border{
  border: 1px solid  #80808050;
  padding: 5px 0px;
  margin-bottom: 5px;
  cursor: pointer;
}.all-border:hover{
  background-color:#d3d3d350 ;
}
.all_day{
  font-weight: 600;
 padding-bottom: 15px;
  
  padding-top: 10px;
  border-right: 1px solid #80808050;
  cursor: pointer;
}

